@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
} 

@font-face{
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/websymbols-regular-webfont.woff) format('woff'),
         url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
         url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular);
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
}

#contactoo{
    scroll-behavior: smooth;
} 

.nav{
    display: flex;
    justify-content: center;
    padding: 2em;
    font-size: 18px;
    background-color: #070707;
    border-top: 0.01em solid white;
}

.marcaImg{
    display: flex;
    justify-content: center;
    background-color: black;
}

.marcaImg img{
    width: 150px;
    height: 150px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}  

.menu li{
    list-style: none;
    padding: 0.6em;
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu li:hover{
    background-color: rgb(65, 65, 65);
    transition: ease-in 100ms;
    cursor: pointer;
}


.menu li a{
    text-decoration: none;
    color: white;
}

a.desplegable{
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../imagenes/hamburger.gif);
    background-color: black;
    position:fixed;
    top:0;
    right: 0;
    cursor: pointer;
}
a.desplegable:hover{
    background-color:#000;
}


.contengoTodasLasImagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/imagenescomprimidas/fondinho-min.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}




.contengoTodasLasImagenes .primerasTres .imagenSeisDiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}


.primerasTres{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.contengoTodasLasImagenes .primerasTres img{
    background-color: #000;
    border: 0.2em solid white;
    width: calc(100% - 30px);
}


@media screen and (min-width:47em){
    ul{
        display: flex;
        justify-content: center;
    }
    a.desplegable{
        display: none;
    }
}

.imagenCasino{
    display: flex;
    justify-content: center;
    margin-top: 0.8em;
}

.imagenCasino h2{
    position: absolute;
    text-align: center;
}

.miniBanner{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.miniBanner img{
    width: 100%;
    border: 0.2em solid black;
}


.imagenCasino:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(0deg, rgb(189, 187, 187), rgb(10, 10, 10));
    opacity: 0.3;
    z-index: -1;
}

.imagenCasino img{
    width: 100%;
    height: 45em;
    opacity: 0.95;
}

.contenedor{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contenedor h2{
    padding: 3em;
    color: white;
}

.contenedorGrande{
    padding: 3.5em;
    display: flex;
    justify-content: center;
}
.contenedorGrande p{
    padding: 3em;
    background-color: black;
    border-radius: 0.8em;
    box-shadow: 0 0 8px black;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -10% auto 0 auto;
    width: 80%;
}

#slider-box {
    -moz-animation: autoSlider 15s infinite linear;
    -o-animation: autoSlider 15s infinite linear;
    -webkit-animation: autoSlider 15s infinite linear;
    animation: autoSlider 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 100%;
    width: 300%;
}

#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.element-blue,
.element-green,
.element-red {
    min-height: 400px;
    max-height: 100%;
    width: 100%;
}

.slider-element {
    float: left;
    width: 33.333%;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}



.contenedorImagenesChiquitas{
    padding: 3em;
}


.contenedorImagenesChiquitas p{
    text-align: center;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas{
    display: flex;
    justify-content: center;
    padding: 1.7em;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas img{
    width: 50px;
    height: 52px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas p{
    border: 0.01em solid white;
    border-radius: 0.8em;
    padding: 0.15em;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas p:hover{
    border: 0.01em solid grey;
    color: black;
    background-color: white;
    border-radius: 0.8em;
    padding: 0.15em;
    transition: ease-in 0.5s;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas:hover{
    transition: ease-in 0.5s;
    box-shadow: 0 0 14px black;
    
}

.contenedorImagenesChiquitas .contenedorDeH2{
    display: flex;
    justify-content: center;
    border: 0.2em solid grey;
    border-radius: 0.9em;
    box-shadow: 0 0 8px black;
    background-color: black;
    padding: 1.4em;
}


.aside-box .contendoAsideFooter{
    display: flex;
    justify-content: center;
}


.aside-box .twitter{
    display: flex;
    justify-content: center;
}

.aside-box img{
    width: 50px;
    height: 50px;
}

.contengoImagenTodoDePremios .contengoTresImagenesDePremios{
    display: flex;
    justify-content: space-around;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    margin-top: 2em;
}

.contengoImagenTodoDePremios .contengoTresImagenesDePremios img{
    width: 23em;
    height: 28em;
    border: 2px solid black;
}

.carousel {
    background-color: black;
    position: relative;
    margin-top: 2em;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    margin-top: 2em;
  }

  .carousel img{
      width: 100%;
  }
  
  .carousel__item {
    background: black;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    display: none;
    
  }
  
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }


.contenedorDelParrafoQuienesSomos{
    background-image: url(/imagenescomprimidas/fondinho-min.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedorDelParrafoQuienesSomos .contenedorP{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}


.contenedorDelParrafoQuienesSomos .contenedorP img{
    width: 100%;
    height: 20em;
    transition-duration: 0.2s;
    transition-duration: 0.5s;
    background-color: #000;

}

.contenedorDelParrafoQuienesSomos .contenedorP img:hover{
    opacity: 0.8;
    transition: all 400ms ease-out;
    will-change: transform;

}

.contenedorQuienesSomosImagenes{
    display: flex;
    justify-content: space-around;
}

.imagenesQuienesSomos img{
    margin-top: 3em;
    margin-bottom: 1em;
    width: 100%;
}

.contengoFotosCaballitos{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    color: black;
    margin-top: 3em;
    margin-bottom: 3em;
    width: calc(100% - 15px);
    background-color: white;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
}

.contengoFotosCaballitos a{
   display: flex; 
   justify-content: space-between;
   background-color: #000;
   width: calc(100% - 15px);

}

.contengoFotosCaballitos h2{
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
}



.contengoFotosCaballitos img{
    width: 100%;
    
    transition-duration: 0.5s;
    transition-delay: 0.7s;
}

.contengoFotosCaballitos img:hover{
    opacity: 0.5;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contengoFotosCaballitos #headline{
    text-align: center;
    position: absolute;
    transition: all .3s;

    transform: scale(0.5);
    opacity: 0;
}

.contengoFotosCaballitos:hover #headline{
    transform: scale(1);
    opacity: 1;
}

.contenedorP .contengoFotosCaballitos{
    width: calc(100% - 20px);
}




/* OTRO MISMO */

  

.dosIguales img:hover{
    opacity: 0.5;
    transition: all 400ms ease-out;
    will-change: transform;
}

.dosIguales1 img:hover{
    opacity: 0.5;
    transition: all 400ms ease-out;
    will-change: transform;
}


.imagenCasinoQuienesSomos{
    display: flex;
    flex-direction: row;
    
}

.imagenCasinoQuienesSomos .dosIguales{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;
    height: 35em;
    margin-top: 2em;
    margin: 0 auto;
    background-color: #000;
    border: 2px solid white;

}



.dosIguales h2{
    font-size: 1.8em;
    color: white;
    cursor: pointer;
}



.imagenCasinoQuienesSomos .dosIguales img{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.imagenCasinoQuienesSomos:hover img{
    background-color: #000;
    opacity: 0.6;
}

.imagenCasinoQuienesSomos #headline{
    text-align: center;
    position: absolute;
    transition: all .3s;

    transform: scale(0.5);
    opacity: 0;
}

.imagenCasinoQuienesSomos:hover #headline{
    transform: scale(1);
    opacity: 1;
}

/* FIN DE OTRO MISMO*/


.contenedorMiniDescripcion{
    display: flex;
    justify-content: space-around;
}

.contenedorMiniDescripcion .miniDescripcion{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.contenedorMiniDescripcion p{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2.5em;
    width: 100%;
}


.contenedorNombres{
    display: flex;
    justify-content: space-around;
}

.contenedorNombres h2{
    color: black;
    font-size: 1.2em;
}

.carousel .carousel__item h2{
    text-align: center;
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.carrouselCasino .carousel .carousel__item img{
    height: 17em;
}




#cajaGrande {
    display: flex;
    padding: 60px;
    background-image: url(/imagenescomprimidas/fondinho-min.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#primeraCaja{
    width: calc(50% - 10px);
    text-align:center;
    margin-top: 1em;
}


#primeraCaja .contactoTexto{
    margin-top: 25px;
    font-size: 28px;
    margin-bottom: 40px;
    text-decoration: underline;
}




#primeraCaja h2{
    font-size: 19px;
    color: white;
    margin-top: 1em;
}

.cajitaTexto{
    background: rgb(200, 200, 200);
    border-radius: 12px;
    width: 65%;
    height: 30px;
    color: black;
    text-align: center;
    margin-top: 0.5em;
    border: 2px solid black;
}

#textArea{
    background: rgb(200, 200, 200);
    border: 2px solid black;
    border-radius: 12px;
    width: 65%;
    height: 100px;
}

#ubicacionContacto{
    display: inline;
    width: 100%;
}

#ubicacionContacto h2{
    text-align: center;
    color: #171717;
}

#ubicacionContacto .contenerIframe{
    display: flex;
}

#ubicacionContacto .iframe{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 99%;
    margin-bottom: 30px;
}

.iframe iframe{
    border: 2px solid #e9d8a6;
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
    width: 75%;
    height: 300px;
}

#boton{
    display: flex;
    justify-content: center;
}

#botoncito{
    color: black;
    padding: 10px;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
    margin-top: 10px;
    cursor:pointer;
    transition-duration: 0.5s;
    opacity: 0.78;
}

#botoncito p{
    color: black;
    opacity: 1;
}

#botoncito:hover{
    box-shadow: 0 0 8px black;
}



.h2Formulario{
    opacity: 0.8;
}

.h2Formulario h2{
    color: black;
    background-color: grey;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    margin-bottom: 0.7em;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    width: 50%;
    margin-top: 2em;
    padding: 2em;
}

#segundaCaja{
    width: calc(50% - 10px);
    text-align: center;
    margin-top: 1em;

}

#segundaCaja .datosDeContactoTexto{
    margin-top: 15px;
    font-size: 28px;
    margin-bottom: 30px;
}

#segundaCaja p{
    color: white;
    margin-top: 2em;
}

#segundaCaja #pBorder{
    background-color: black;
    border: 0.4em solid gray;
    padding: 50px;
}

#segundaCaja #pBorder img{
    transition-duration: 1000ms;
    transition-property: all;

}

#segundaCaja #pBorder img:hover{
    transform: rotate(180deg);
}


#segundaCaja h2{
    color: white;
    text-decoration: underline;
    text-align: start;
}

#segundaCaja img{
    margin-top: 2em;
    height: 5em;
    width: 5em;
}


#cajaGrande {
    display: flex;
    padding: 60px;
}





#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

  

@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}





footer{
    background-color: #000000;
    border-top: 0.5em solid grey;
}

footer .contenedorFooter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;

}


footer .contenedorFooter .divisores{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer .contenedorFooter .menuFooter ul{
    display: flex;
    flex-direction: column;
}

.divisoresImg{
    display: flex;
    justify-content: center;
}

footer .divisoresLegales{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    padding: 0.7em;
    margin-top: 1em;
}

footer .menuFooter{
    display: flex;
    flex-direction: column;
}

footer .menuFooter ul li{
    list-style: none;
    padding: 0.5em;
}

footer ul li a{
    text-decoration: none;
    color: #ccc;
}

footer ul li a:hover{
    color: white;
    text-shadow: 0px 0px 7px white;
}

footer .parrafoFooter p{
    text-align: center;
    padding: 1em;
}


footer .divisoresImg img{
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid white;
}

footer .copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer .contengoProveedores{
    display: flex;
    justify-content: center;
}

footer .proveedoresOficialesParrafo{
    text-align: center;
    padding: 0.5em;
}

footer .proveedores img{
    height: 28px;
    width: 28px;
    border: 1px solid white;
    padding: 0.12em;
    border-radius: 50%;
}

