@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
} 

@font-face{
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/websymbols-regular-webfont.woff) format('woff'),
         url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
         url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular);
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #dddddd;
    color: rgb(255, 255, 255);
}


.nav{
    display: flex;
    justify-content: center;
    padding: 2em;
    font-size: 18px;
    background-color: #070707;
    border-top: 0.01em solid white;
}

.marcaImg{
    display: flex;
    justify-content: center;
    background-color: black;
}

.marcaImg img{
    width: 150px;
    height: 150px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}  

.menu li{
    list-style: none;
    padding: 0.6em;
}

.menu li:hover{
    background-color: rgb(65, 65, 65);
    transition: ease-in 100ms;
    box-shadow: 0 0 2px white;
}


.menu li a{
    text-decoration: none;
    color: white;
}

.imagenCasino{
    display: flex;
    justify-content: center;
    margin-top: 0.8em;
}

.imagenCasino:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(0deg, rgb(189, 187, 187), rgb(10, 10, 10));
    opacity: 0.3;
    z-index: -1;
}

.imagenCasino img{
    width: 100%;
    height: 35em;
    opacity: 0.95;
    border: 2px solid black;

}

.contenedor{
    display: flex;
    justify-content: center;
    border: 0.3em solid grey;
    background-color: black;
    margin-bottom: 0.7em;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    width: 50%;
    margin-top: 2em;
    border-radius: 2em;
    padding: 1em;
}

.contenedor h2{
    padding: 1em;
}

.contenedorGrande{
    padding: 3.5em;
}
.contenedorGrande p{
    border: 0.2em solid grey;
    padding: 3em;
    background-color: black;
    border-radius: 0.8em;
    box-shadow: 0 0 8px black;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.contenedorGrande p:hover{
    background-color: white;
    border: 0.2em solid black;
    color: black;
    transition: ease-in 0.6s;
}

input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -10% auto 0 auto;
    width: 80%;
}

#slider-box {
    -moz-animation: autoSlider 15s infinite linear;
    -o-animation: autoSlider 15s infinite linear;
    -webkit-animation: autoSlider 15s infinite linear;
    animation: autoSlider 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 100%;
    width: 300%;
}

#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.element-blue,
.element-green,
.element-red {
    min-height: 400px;
    max-height: 100%;
    width: 100%;
}

.slider-element {
    float: left;
    width: 33.333%;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

.contengoTodoCarrousel #slider-container{
    padding: 1em;
    background-color: black;
    margin-top: 0.6em;
}

.contenedorImagenesChiquitas{
    padding: 3em;
}


.contenedorImagenesChiquitas p{
    text-align: center;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas{
    display: flex;
    justify-content: center;
    padding: 1.7em;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas img{
    width: 50px;
    height: 52px;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas p{
    border: 0.01em solid white;
    border-radius: 0.8em;
    padding: 0.15em;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas p:hover{
    border: 0.01em solid grey;
    color: black;
    background-color: white;
    border-radius: 0.8em;
    padding: 0.15em;
    transition: ease-in 0.5s;
}

.contenedorImagenesChiquitas .contengoTodasLasImagenesChiquitas:hover{
    transition: ease-in 0.5s;
    box-shadow: 0 0 14px black;
}

.contenedorImagenesChiquitas .contenedorDeH2{
    display: flex;
    justify-content: center;
    border: 0.2em solid grey;
    border-radius: 0.9em;
    box-shadow: 0 0 8px black;
    background-color: black;
    padding: 1.4em;
}


.aside-box .contendoAsideFooter{
    display: flex;
    justify-content: center;
}


.aside-box .twitter{
    display: flex;
    justify-content: center;
}

.aside-box img{
    width: 50px;
    height: 50px;
}

.contengoImagenTodoDePremios .contengoTresImagenesDePremios{
    display: flex;
    justify-content: space-around;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    margin-top: 2em;
}

.contengoImagenTodoDePremios .contengoTresImagenesDePremios img{
    width: 23em;
    height: 28em;
    border: 2px solid black;
}

.carousel {
    position: relative;
    margin-top: 2em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    margin-top: 2em;
  }

  .carousel img{
      width: 100%;
  }
  
  .carousel__item {
    background: rgb(187, 187, 187);
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
  }
  
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }


.contenedorDelParrafoQuienesSomos .contenedorP{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    margin-top: 2em;
    border-radius: 0.8em;
}

.contenedorQuienesSomosImagenes{
    display: flex;
    justify-content: space-around;
}

.imagenesQuienesSomos img{
    margin-top: 3em;
    margin-bottom: 1em;
    width: 270px;
    height: 330px;
    border: 3px solid black;
}

.contenedorDelParrafoQuienesSomos .contenedorP p{
    border: 0.2em solid grey;
    padding: 3em;
    background-color: black;
    border-radius: 0.8em;
    box-shadow: 0 0 8px black;
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 50%;
}

.contenedorMiniDescripcion{
    display: flex;
    justify-content: space-around;
}

.contenedorMiniDescripcion .miniDescripcion{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.contenedorMiniDescripcion p{
    display: flex;
    justify-content: center;
    color: black;
    padding: 2.5em;
    width: 100%;
}
  
.imagenCasinoQuienesSomos{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    margin-top: 2em;
    height: 35em;
    border: 5px solid black;
}

.imagenCasinoQuienesSomos img{
    width: 100%;
}

.imagenCasinoQuienesSomos img:hover{
    opacity: 0.5;
    transition: ease-in 0.5s;
}

.contenedorNombres{
    display: flex;
    justify-content: space-around;
}

.contenedorNombres h2{
    color: black;
    font-size: 1.2em;
}

.carousel .carousel__item h2{
    text-align: center;
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.carrouselCasino .carousel .carousel__item img{
    height: 20em;
}


footer{
    background-color: #000000;
    border-top: 0.5em solid grey;
}

footer .contenedorFooter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;

}


footer .contenedorFooter .divisores{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divisoresImg{
    display: flex;
    justify-content: center;
}

footer .divisoresLegales{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    padding: 0.7em;
    margin-top: 1em;
}

footer .menuFooter ul li{
    list-style: none;
    padding: 0.5em;
}

footer ul li a{
    text-decoration: none;
    color: #ccc;
}

footer ul li a:hover{
    color: white;
    text-shadow: 0px 0px 7px white;
}

footer .parrafoFooter p{
    text-align: center;
    padding: 1em;
}


footer .divisoresImg img{
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid white;
}

footer .copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer .contengoProveedores{
    display: flex;
    justify-content: center;
}

footer .proveedoresOficialesParrafo{
    text-align: center;
    padding: 0.5em;
}

footer .proveedores img{
    height: 28px;
    width: 28px;
    border: 1px solid white;
    padding: 0.12em;
    border-radius: 50%;
}

